{% extends 'base.html' %}

{% block title %}
Про цей дарк шієт
{% endblock %}

{% block body %}
<h1>Инфа</h1>
<h2>Курил по 5 грамм гашиша в день вот и вышла эта имба разогретая. А еще какого-то хуя интерфейс гамно, но это точно не моя вина, и удолитъ с редактированиям не робит кароч до ре ми фа солька</h2>

<div style="text-align: center; margin-top: 20px;">
    <h2><b>Журбливі посилання =3</b></h2>
</div>

<div style="text-align: center; margin-top: 17px;">
    <h3><sup><a href="https://steamcommunity.com/id/mornn7/">Мій Стім ояк</a></sup></h3>
    <img src="https://steam-widget.com/widget/img?id=76561199788665408&purpose=my_website&width=350"
         alt="Steam Profile Widget"
         style="max-width: 100%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
</div>
<div style="text-align: center; margin-top: 20px;">
    <iframe src="https://gamer2810.github.io/steam-miniprofile/?accountId=76561199788665408"
            style="border:0px; width:350px; height:275px; max-width:100%;"
            scrolling="no"
            frameborder="0"
            allowfullscreen>
    </iframe>
</div>
<div style="text-align: center; margin-top: 20px;">
    <h2>⬇️Листай вниз⬇️</h2>
    <img src="/static/img/zhurba_spit.webp" type="img">>
</div>

<div class="discord">
    <h3><a href="https://discord.gg/pWKvnRdAg6">Присоединиться к потужному штабу: </a></h3>

<iframe src="https://discord.com/widget?id=1474685849882067028&theme=dark" width="488" height="550" allowtransparency="true" frameborder="2" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>
{% endblock %}